<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DataSorter.Properties.Settings>
      <setting name="CSVPath" serializeAs="String">
        <value />
      </setting>
      <setting name="HTMLPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Delimiter" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="SheetId" serializeAs="String">
        <value>1vxt_c0h7PaSX_oMNcwS4PuvQhRKmwEMbEgg58XarDgQ</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>Sheets Test</value>
      </setting>
      <setting name="SheetName" serializeAs="String">
        <value>Sheet1</value>
      </setting>
      <setting name="StartCell" serializeAs="String">
        <value>A1</value>
      </setting>
      <setting name="EndCell" serializeAs="String">
        <value>P251</value>
      </setting>
    </DataSorter.Properties.Settings>
  </userSettings>
</configuration>